<div class="contextual">
  <%= link_to 'Create New Configuration', new_will_ship_path, :class => 'icon icon-add' %>
</div>

<h2>Will Ship Configurations</h2>
<table class="list">

  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Project
      </th>
      <th>
        Habor to Ship
      </th>
      <th>
        Rule
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>

  <% unless @harbors.any? %>
    <tr class="nodata">
      <td colspan="5">
          No Harbors to ship...
      </td>
    </tr>
  <% else %>
    <% @harbors.each do |harbor|%>
    <tr>
      <td>
        <%= harbor.name %>
      </td>
      <td>
        <%= link_to harbor.project.name, project_path(harbor.project) %>
      </td>
      <td align="center">
        <%= link_to harbor.url, harbor.url %>
      </td>
      <td align="center">
        <%= WillShip::LOOKUP_RULES.invert[harbor.lookup_rule] %>
      </td>
      <td class="buttons">
          <%= link_to 'Delete', will_ship_path(harbor), :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del' %>
      </td>
    </tr>
    <% end %>
  <% end %>

  </tbody>

</table>